.fullScreen {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px 700px;
}

/* HEADER */

.header {
    grid-area: 1 / 2 / 2 / 3;
    display:grid;
    grid-template-rows: 1fr 2fr;
}

.top-Header {
    display: grid;
    grid-template-columns: 40px minmax(500px, 70%) 300px;
    align-items: center;
}

.top-Header input {
    width: 70%;
    height: 30px;
    border-radius: 25px;
}

.top-HeaderRight {
    display:grid;
    grid-template-columns: 50px 70px 100px;
    align-items:center;
    justify-items:end;
}

.icon {
    height:30px;
}


.profilePicTop {
    height: 50px;
}

.bottom-Header {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.bottom-HeaderLeft {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 20px 80px;
}

.profilePicBottom {
    height: 100px;
    grid-area: 1 / 1 / 3 / 2;
}

.bottom-HeaderLeft h3 {
    grid-area: 1 / 2
}

.bottom-HeaderRight {
    justify-self:end;
    align-self: center;
    margin-right: 50px;
}

.bottom-HeaderRight button {
    font-size: 28px;
    border-radius: 15px;
    box-shadow: 20px;
}

/* SIDEBAR */

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:120px repeat(10, 40px)
}

.sidebarLink:hover {
    text-decoration:underline;
}

.sidebar img {
    height: 30px;
    justify-self: center;
    align-self: center;
}

.sidebar h2 {
    align-self:center;
}

.sidebar h3 {
    margin:0;
    height: 20px;
    align-self:center;
    margin:0;
}

/* MAIN CONTENT */

.main {
    grid-area: 2 / 2 / 3 / 3;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 30px 1fr 30px 1fr;
    gap: 20px;
    margin-top: 20px;
}

.projectsTitle-main {
    grid-area: 1 / 1 / 2 / 2;
}

.announcementsTitle-main {
    grid-area: 1 / 2 / 2 / 3;
}

.trendingTitle-main {
    grid-area: 3 / 2 / 4 / 3;
}

.projects-main {
    grid-area: 2 / 1 / 5 / 2;
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

.card-projects {
    background-color:bisque;
    border-radius: 15px;
}

.card-projects:hover {
    border-style:outset;
}